<?xml version="1.0" encoding="utf-8"?>

<root xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:arg name="parts_dir" default="../" />

    <xacro:include filename="$(arg parts_dir)/xacro_common.xacro" />

    <xacro:macro name="typeg2-arm" params="base_link tip_link">
      
      <xacro:armlink
         model_type="typeg2_arm"
         link_name="${base_link}"
         mesh_name="waist_link"
         base_origin_xyz="0 0 0"
         base_origin_rpy="0 0 0" />

      <xacro:armjoint
         joint_name="shoulder_y_joint"
         type="revolute"
         parent="${base_link}"
         child="shoulder_link"
         joint_axis_xyz="0 0 1"
         joint_origin_xyz="0 0 0.1035"
         joint_origin_rpy="0 0 0"
         joint_lower_limit="-2.09"
         joint_upper_limit="2.09"
         joint_velocity_limit="1.2"
         joint_effort_limit="10" />

      <xacro:armlink
         model_type="typeg2_arm"
         link_name="shoulder_link"
         mesh_name="shoulder_link"
         base_origin_xyz="0 0 0"
         base_origin_rpy="0 0 0" />
      
      <xacro:armjoint
         joint_name="shoulder_p_joint"
         type="revolute"
         parent="shoulder_link"
         child="upperarm_link"
         joint_axis_xyz="0 1 0"
         joint_origin_xyz="0 0 0.028"
         joint_origin_rpy="0 0 0"
         joint_lower_limit="0"
         joint_upper_limit="1.57"
         joint_velocity_limit="0.6"
         joint_effort_limit="10" />
      
      <xacro:armlink
         model_type="typeg2_arm"
         link_name="upperarm_link"
         mesh_name="upperarm_link"
         base_origin_xyz="0 0 0"
         base_origin_rpy="0 0 0" />

      <xacro:armjoint
         joint_name="elbow_joint"
         type="revolute"
         parent="upperarm_link"
         child="elbow_virtual_link"
         joint_axis_xyz="0 1 0"
         joint_origin_xyz="0.0 0 0.3"
         joint_origin_rpy="0 0 0"
         joint_lower_limit="0"
         joint_upper_limit="3.14"
         joint_velocity_limit="1.2"
         joint_effort_limit="10" />

      <link name="elbow_virtual_link">
      </link>

      <xacro:armjoint
         joint_name="elbow_joint_mimic"
         type="continuous"
         parent="elbow_virtual_link"
         child="elbow_virtual_link_dummy"
         joint_axis_xyz="0 1 0"
         joint_origin_xyz="0.0 0 0"
         joint_origin_rpy="0 0 0"
         mimic_parent="elbow_joint"
         mimic_multiplier="-1"
         mimic_offset="0"
         mimic="true" />

      <link name="elbow_virtual_link_dummy">
      </link>

      <xacro:armjoint
         joint_name="elbow_middle_joint"
         type="continuous"
         parent="elbow_virtual_link_dummy"
         child="elbow_middle_link"
         joint_axis_xyz="0 1 0"
         joint_origin_xyz="0 0 0"
         joint_origin_rpy="0 0 0"
         mimic_parent="elbow_joint"
         mimic_multiplier="0.591222"
         mimic_offset="0"
         mimic="true" />

      <xacro:armlink
         model_type="typeg2_arm"
         link_name="elbow_middle_link"
         mesh_name="elbow_middle_link"
         base_origin_xyz="0 0 0"
         base_origin_rpy="0 0 0" />

      <xacro:armjoint
         joint_name="elbow_middle_joint_mimic"
         type="continuous"
         parent="elbow_middle_link"
         child="elbow_link"
         joint_axis_xyz="0 1 0"
         joint_origin_xyz="0.0 0 0.07"
         joint_origin_rpy="0 0 0"
         mimic_parent="elbow_joint"
         mimic_multiplier="0.408778"
         mimic_offset="0"
         mimic="true" />

      <xacro:armlink
         model_type="typeg2_arm"
         link_name="elbow_link"
         mesh_name="elbow_link"
         base_origin_xyz="0 0 0"
         base_origin_rpy="0 0 0" />

      <xacro:armjoint
         joint_name="wrist_y_joint"
         type="revolute"
         parent="elbow_link"
         child="forearm_link"
         joint_axis_xyz="0 0 1"
         joint_origin_xyz="0.0 0 0.1095"
         joint_origin_rpy="0 0 0"
         joint_lower_limit="-2.09"
         joint_upper_limit="2.09"
         joint_velocity_limit="1.3"
         joint_effort_limit="10" />

      <xacro:armlink
         model_type="typeg2_arm"
         link_name="forearm_link"
         mesh_name="forearm_link"
         base_origin_xyz="0 0 0"
         base_origin_rpy="0 0 0" />

      <xacro:armjoint
         joint_name="wrist_r_joint"
         type="revolute"
         parent="forearm_link"
         child="wrist_r_link"
         joint_axis_xyz="1 0 0"
         joint_origin_xyz="0 0 0.124"
         joint_origin_rpy="0 0 0"
         joint_lower_limit="-0.17"
         joint_upper_limit="0.17"
         joint_velocity_limit="1.05"
         joint_effort_limit="10" />

      <xacro:armlink
         model_type="typeg2_arm"
         link_name="wrist_r_link"
         mesh_name="wrist_r_link"
         base_origin_xyz="0 0 0"
         base_origin_rpy="0 0 0" />

      <xacro:armjoint
         joint_name="wrist_p_joint"
         type="revolute"
         parent="wrist_r_link"
         child="${tip_link}"
         joint_axis_xyz="0 1 0"
         joint_origin_xyz="0 0 0"
         joint_origin_rpy="0 0 0"
         joint_lower_limit="-1.57"
         joint_upper_limit="0.34"
         joint_velocity_limit="1.4"
         joint_effort_limit="10" />

      <xacro:armlink
         model_type="typeg2_arm"
         link_name="${tip_link}"
         mesh_name="wrist_p_link"
         base_origin_xyz="0 0 0"
         base_origin_rpy="0 0 0" />

    </xacro:macro>

</root>
